
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    letter-spacing: 1px;
    height: 100vh;
    background: url(../images/maxresdefault.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(56, 52, 52);
}

.main{
    padding-top: 30px;
}

.contnet01{
    /* background: url(../images/spidermanlogo.png) no-repeat;
    background-position: center;
    background-size: 700px; 
    margin-bottom: 40px; */
    padding: 100px 100px 10px 100px;
    background-color: rgb(15, 15, 15);
    border-radius: 20px 20px 0px 0px;
}

.contnet02{
    margin-bottom: 40px;
    padding: 70px 100px 70px 100px;
    background-color: rgb(27, 27, 27);
    border-top-style: none;
    border-radius: 0px 0px 20px 20px;
}

.contnet03{
    padding: 100px;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}

h1{
    font-size: 2.2rem;
    font-weight: 500;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: rgb(144, 23, 23);
    color: rgb(223, 175, 19);
}

.title01{
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
    -webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: rgb(144, 23, 23);
    color: rgb(223, 175, 19);
}

span{
    color: rgb(223, 175, 19);
    font-size: 2.7rem;
}

.title02{
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.1rem;
    color: #cfcfcf;
}

.title{
    position: relative;
    top: 40px;
    font-size: .9rem;
    font-weight: 300;
    color: #cfcfcf;
    border-radius: 10px;
    padding-top: 15px;
    margin: 1px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
    z-index: 99;
}

h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 40px;
    color: #cfcfcf;
}

.info{
    line-height: 30px;
}

.info_list{
    color: rgb(223, 175, 19);
}

.info_text{
    font-weight: 300;
    color: #cfcfcf;
}

.event01{
    padding: 50px 0px;
}

.btn{
    font-size: 1.2rem;
    margin-top: 30px;
    padding: 10px 70px;
}

.sec02{
    position: relative;
    top: -250px;
}

@media (max-width:375px){

    body{
        background: rgb(144, 23, 23);
    }

    .main{
        padding: 20px 0px 0px 0px;
    }

    .main_logo{
        margin-bottom: 20px;
    }

    .contnet01, .contnet02, .contnet03{
        padding: 20px;
    }

    .event01{
        padding: 20px 0px;
    }

    .title{
        display: none;
    }

    .title01{
        -webkit-text-stroke-width: .5px;
        font-size: 1rem;
        margin-top: 20px;
    }

    .title02{
        margin: 0;
        font-size: .5rem;
    }

    span{
        -webkit-text-stroke-width: .5px;
        font-size: 1rem;
    }

    h1{
        -webkit-text-stroke-width: .5px;
        font-size: 1rem;
        margin-top: 20px;
    }

    h3{
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .info_text p{
        font-size: 1rem;
    }

    .event01 img{
        padding: 0;
    }

    .btn{
        font-size: 1rem;
        margin-top: 20px;
        padding: 8px 50px;
    }

    .sec02{
        position: relative;
        top: -80px;
    }

    
}



  #foglayer_01, #foglayer_02, #foglayer_03 {
    height: 100%;
    position: fixed;
    top: 0;
    width: 200%;

  }
  #foglayer_01 .image01, #foglayer_01 .image02,
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02 {
    float: left;
    height: 100%;
    width: 50%;
  }
  #foglayer_01 {
    -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
    animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  }
  #foglayer_02, #foglayer_03 {
    -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
    -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
    animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  }
  
  #foglayer_01 .image01, #foglayer_01 .image02 {
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
    
  }
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02{
    background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
  }
  
  /* ---------- Keyframe Layer 1 ---------- */
  @-webkit-keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  @-moz-keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  @-o-keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  @keyframes foglayer_01_opacity {
    0% { opacity: .1; }
    22% { opacity: .5; }
    40% { opacity: .28; }
    58% { opacity: .4; }
    80% { opacity: .16; }
    100% { opacity: .1; }
  }
  /* ---------- Keyframe Layer 2 ---------- */
  @-webkit-keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  @-moz-keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  @-o-keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  @keyframes foglayer_02_opacity {
    0% { opacity: .5; }
    25% { opacity: .2; }
    50% { opacity: .1; }
    80% { opacity: .3; }
    100% { opacity: .5; }
  }
  /* ---------- Keyframe Layer 3 ---------- */
  @-webkit-keyframes foglayer_03_opacity {
    0% { opacity: .8 }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  @-moz-keyframes foglayer_03_opacity {
    0% { opacity: .8 }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  @-o-keyframes foglayer_03_opacity {
    0% { opacity: .8 }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  @keyframes foglayer_03_opacity {
    0% { opacity: .8; }
    27% { opacity: .2; }
    52% { opacity: .6; }
    68% { opacity: .3; }
    100% { opacity: .8; }
  }
  /* ---------- Keyframe moveMe ---------- */
  @-webkit-keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-moz-keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-o-keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  @keyframes foglayer_moveme {
    0% { left: 0; }
    100% { left: -100%; }
  }
  
  @media only screen
    and (min-width: 280px)
    and (max-width: 767px) {
      #foglayer_01 .image01, #foglayer_01 .image02,
      #foglayer_02 .image01, #foglayer_02 .image02,
      #foglayer_03 .image01, #foglayer_03 .image02 {
        width: 100%;
      }
    }